.banner {
  background-color: red;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("https://miro.medium.com/max/1400/1*5lyavS59mazOFnb55Z6znQ.png")
      no-repeat center/cover;
  height: 100vh !important;

  @include breakpoint(xxl) {
    height: 750px !important;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 0rem 1rem;
    height: 10vh;

    @include breakpoint(xxl) {
      height: 10% !important;
    }

    .logo {
      width: 150px;
      height: 35px;
    }
  }

  .hero {
    height: 100%;
    padding: 1rem 0rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoint(xxl) {
      height: 675px !important;
    }

    &_title {
      color: $clr-white;
      position: relative;
      width: 100%;
      padding: 75px 0;
      max-width: 950px;
      margin: 0 auto;
      text-align: center;
      z-index: 1;

      &-main {
        font-weight: 700;
        font-size: 3.125rem;
        letter-spacing: 1px;
        line-height: 1;
      }

      &-submain {
        margin-top: 0.3rem;
        font-size: 1.625rem;
      }

      .form_email {
        border: 1px solid red;
        margin-top: 1.5rem;

        h3 {
          font-size: 1.3rem;
        }
      }
    }
  }
}
