.login {
  min-width: 300px;
  height: 100vh !important;
  background-color: black;

  @include breakpoint(md) {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.2) 60%,
        rgba(0, 0, 0, 1) 100%
      ),
      // url("https://miro.medium.com/max/1400/1*5lyavS59mazOFnb55Z6znQ.png")
      url("https://assets.nflxext.com/ffe/siteui/vlv3/59e045df-814d-4342-bf9d-e62ba23e916a/9f7ec46f-c8d3-4bb2-86a9-e5b3980ae64b/PH-en-20220418-popsignuptwoweeks-perspective_alpha_website_small.jpg")
        no-repeat center/cover;
  }

  .logo {
    padding: 1rem;

    @include breakpoint(sm) {
      padding: 1.5rem;
    }
    img {
      width: 80px;

      @include breakpoint(sm) {
        width: 150px;
      }
    }
  }

  .form {
    padding: 1rem 0rem !important;

    @include breakpoint(md) {
      border-radius: 7px;
      padding: 2.5rem !important;
      width: 350px;
      margin: 0 auto;
      margin-top: 1rem;
      background-color: rgba(0, 0, 0, 0.7);
    }

    &-title {
      color: $clr-white;
      font-weight: bold;
      margin-bottom: 1.5rem;
      font-size: 2.1rem;
    }

    .inputs {
      .form-floating {
        input {
          border-radius: 3px !important;
          background-color: #333333;
          caret-color: $clr-white;
          color: $clr-white;
          font-size: 1.1rem;
        }

        label {
          color: #8c8c8c;
        }
      }

      .btn-signin {
        background-color: $clr-primary;
        color: $clr-white;

        width: 100%;
        font-weight: bold;
        padding: 0.8rem 0rem;
        margin-top: 2rem;
      }
    }

    &-signup {
      color: #8c8c8c;

      .link {
        color: $clr-white;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
