@import "./variables";
@import "./Landing_page/banner";
@import "./Landing_page/about";
@import "./Landing_page/faq";
@import "./Landing_page/footer";
@import "./Dashboard/dashboard";

@import "./Login/login";

// COMPONENTS
@import "./Component/getemail";
@import "./Component/searchbar";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $clr-black;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

input,
.btn,
button {
  border: 0 !important;
  box-shadow: none !important;
}

.btn {
  background-color: $clr-primary;
  color: $clr-white;
  padding: 0.3rem 1rem;
  font-weight: 600;
  font-size: 1.05rem;

  &:hover {
    color: $clr-white;
  }
}

.border-bottom {
  border-bottom: 10px solid #222 !important;
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 1);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 115%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
